@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.rounded-editor .monaco-editor {
    border-radius: 0.5rem;
}

.rounded-editor .monaco-editor .overflow-guard {
    border-radius: 0.5rem;
}
